<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Dos</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="container">
        <div id="main">
            <div class="left">
                <div class="date">
                    <p>today time ...</p>
                </div>
                <div class="todo">
                    <p>todo history ...</p>
                </div>
            </div>
            <div class="right">
                <div class="daysContainer">
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                    <div class="days">
                        <div class="days_tips">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="days_time">
                            <p>1</p>
                        </div>
                        <div class="days_todos">
                            <p>something todos ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../runtime.js"></script>
<script src="../render/index.js"></script>

</html>